* {
  margin: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-family: inherit;
}

$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;

:root {
  --violet: #5964e0;
  --light-violet: #939bf4;
  --very-dark-blue: #19202d;
  --very-dark-blue-toggle: #fff;
  --mid-night-toggle: #f4f6f8;
  --white: #fff;
  --light-grey: #f4f6f8;
  --grey: #9daec2;
  --dark-grey: #6e8098;
  --main-bg: #f4f6f8;
  --body: #19202d;
}

[data-theme="dark"] {
  --body: #fff;
  --mid-night-toggle: #121721;
  --very-dark-blue-toggle: #19202d;
}

body {
  overflow: hidden;
}

main {
  background: var(--mid-night-toggle);
  min-height: 100dvh;
}

button {
  border: none;
  padding: 0;
  transition: 0.2s ease-in-out;

  &:hover {
    cursor: pointer;
  }

  @media (min-width: $lg) {
    &:hover {
      background: var(--light-violet) !important;
    }
  }
}

.container {
  padding: 57px 24px 62px 24px;
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: max-content;
  gap: 49px;
  max-width: 1178px;
  box-sizing: border-box;
  margin: 0 auto;
  height: calc(100dvh - 40px - 136px);
  overflow: auto;
  align-items: flex-start;

  &:has(.jobDetail--opened) {
    overflow: hidden;
    .jobCard {
      opacity: 0;
    }
  }
  @media (min-width: $md) {
    padding: 70px 39px 62px 39px;
    grid-template-columns: 1fr 1fr;
    gap: 65px 11px;
    height: calc(100dvh - 40px - 160px);
  }

  @media (min-width: $lg) {
    padding: 27px 39px 62px 39px;
    margin: 50px auto 0 auto;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 65px 30px;
    height: calc(100dvh - 40px - 208px);

    &::-webkit-scrollbar {
      width: 8px !important;
    }
  }
}

input[type="checkbox"]:not(.nav__theme-toggle input) {
  background-color: var(--body);
  opacity: 0.1;
  height: 24px;
  width: 24px;
  border-radius: 3px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  &:checked {
    background-color: var(--violet);
    opacity: 1;
    background-image: url("../assets/desktop/icon-check.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 14px;
  }
}

/* width */
::-webkit-scrollbar {
  width: 0px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.3);
  border: 2px solid var(--mid-night-toggle);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.6);
  cursor: pointer;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px var(--very-dark-blue-toggle) inset;
  transition: background-color 5000s ease-in-out 0s;
  -webkit-text-fill-color: var(--body);
}
