.jobDetail {
  position: fixed;
  top: -100%;
  top: 100dvh;
  left: 50%;
  transform: translateX(-50%);
  padding: 0 24px;
  height: calc(100dvh - 136px);
  width: 100%;
  margin: 0 auto;
  z-index: 1;
  flex-direction: column;
  opacity: 0;
  transition: 0.3s ease-in-out;
  pointer-events: none;
  max-width: 1178px;

  &--opened {
    display: flex;
    top: 136px;
    opacity: 1;
    pointer-events: all;
  }

  &__apply {
    background: var(--violet);
    color: var(--white);
    font-size: 16px;
    font-weight: 700;
    display: block;
    width: 100%;
    padding: 16px 30px;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    transition: 0.2s ease-in-out;

    &:hover {
      background: var(--light-violet);
    }
  }

  &__header {
    background: var(--very-dark-blue-toggle);
    border-radius: 6px;
    padding: 0 24px 32px 24px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-top: -20px;

    &-logo {
      padding: 10px;
      border-radius: 15px;
      object-fit: contain;
      margin: -25px auto 0 auto;
    }

    h1 {
      margin-bottom: 13px;
      font-weight: 700;
      font-size: 20px;
      color: var(--body);
    }

    p {
      color: var(--grey);
    }

    a {
      text-decoration: none;
      font-weight: 700;
      padding: 16px 20px;
      color: var(--violet);
      background-color: rgba(89, 100, 224, 0.1);
      align-self: center;
      border-radius: 5px;
    }
  }

  &__body {
    margin: 24px 0;
    background: var(--very-dark-blue-toggle);
    padding: 24px;
    overflow: auto;
    position: relative;

    &-close {
      position: sticky;
      top: 0;
      background: none;
      display: flex;
      gap: 7px;
      align-items: center;
      justify-content: center;
      font-size: 14px;
      margin: 0 0 35px -1px;
      background: var(--mid-night-toggle);
      opacity: 0.85;
      padding: 7px 11px;
      border-radius: 5px;
      color: var(--body);

      &:hover {
        background: var(--mid-night-toggle) !important;
      }

      span {
        color: var(--body);
        font-size: 19px !important;
      }
    }

    &-detail {
      > div {
        display: flex;
        flex-direction: column;
        gap: 12px;
        margin-bottom: 50px;

        > div {
          display: flex;
          align-items: center;
          gap: 12px;
          span {
            color: var(--dark-grey);
            &:first-child::after {
              content: "";
              width: 4px;
              height: 4px;
              display: inline-block;
              background: var(--grey);
              margin-left: 12px;
              border-radius: 50%;
            }
          }
        }
      }

      h2 {
        font-weight: 700;
        font-size: 20px;
        color: var(--body);
      }

      p {
        font-weight: 700;
        color: var(--violet);
        font-size: 14px;
      }

      .jobDetail__apply {
        display: none;
      }
    }

    &-main {
      display: flex;
      flex-direction: column;
      gap: 40px;

      ul {
        list-style: none;
        padding: 0;
        margin-top: 32px;

        li {
          display: flex;
          gap: 0 32px;
          &::before {
            content: "\2022";
            color: var(--violet);
            font-weight: bold;
          }
        }
      }

      p,
      li {
        line-height: 1.62;
        color: var(--dark-grey);
      }

      h3 {
        color: var(--body);
        font-size: 20px;
        margin-bottom: 28px;
      }
    }

    &-footer {
      margin-top: 64px;

      &-detail {
        display: none;
      }
    }
  }
}

@media (min-width: $md) {
  .jobDetail {
    height: calc(100dvh - 160px);
    padding: 0 39px;

    &--opened {
      top: 160px;
    }

    &__header {
      flex-direction: row;
      padding: 0;
      gap: 40px;
      margin-top: -40px;

      img {
        margin: 0;
        height: 140px;
        width: 140px;
        border-radius: 0 0 0 6px;
        padding: 35px;
      }

      > div {
        flex-grow: 1;
        text-align: left;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;

        h1 {
          font-size: 24px;
          margin-bottom: 8px;
        }
      }

      a {
        margin-right: 40px;
        transition: 0.2s ease-in-out;
        &:hover {
          background-color: rgba(89, 100, 224, 0.3);
        }
      }
    }

    &__body {
      margin-top: 39px;
      padding: 48px;

      &-close {
        opacity: 1;

        &:hover {
          background: var(--body) !important;
          color: var(--very-dark-blue-toggle);

          span {
            color: var(--very-dark-blue-toggle);
          }
        }
      }

      &-detail {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .jobDetail__apply {
          display: block;
          width: auto;
        }

        > div {
          margin: 0;

          h2 {
            font-size: 28px;
          }
        }
      }

      &-main {
        padding: 44px 0 48px 0;
        .jobDetail__apply {
          display: none;
        }

        ul {
          margin-top: 24px;
        }
      }

      &-footer {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0 -48px -48px -48px;
        padding: 38px 48px;
        border-top: 24px solid var(--mid-night-toggle);

        &-detail {
          display: block;

          h2 {
            font-size: 20px;
            color: var(--body);
            margin-bottom: 12px;
          }

          p {
            color: var(--dark-grey);
          }
        }

        .jobDetail__apply {
          width: auto;
        }
      }
    }
  }
}
