.jobDetail {
  position: fixed;
  top: -100%;
  top: 136px;
  left: 0;
  padding: 0 24px;
  height: calc(100dvh - 136px);
  width: 100%;
  margin: 0 auto;
  background: var(--mid-night-toggle);
  z-index: 1;

  &__header {
    background: var(--very-dark-blue-toggle);
    border-radius: 6px;
    padding: 0 32px 32px 32px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 25px;

    img {
      background: tomato;
      padding: 10px;
      border-radius: 15px;
      object-fit: contain;
      margin: -25px auto 0 auto;
    }

    h1 {
      margin-bottom: 13px;
      font-weight: 700;
      font-size: 20px;
      color: var(--body);
    }

    p {
      color: var(--grey);
    }

    a {
      text-decoration: none;
      font-weight: 700;
      padding: 16px 20px;
      color: var(--violet);
      background-color: rgba(89, 100, 224, 0.1);
      align-self: center;
      border-radius: 5px;
    }
  }

  &__body {
    margin-top: 24px;
    background: var(--very-dark-blue-toggle);
    padding: 40px 24px;

    &-detail {
      display: flex;
      flex-direction: column;
      gap: 12px;
      margin-bottom: 50px;

      > div {
        display: flex;
        align-items: center;
        gap: 12px;
        span {
          color: var(--dark-grey);
          &:first-child::after {
            content: "";
            width: 4px;
            height: 4px;
            display: inline-block;
            background: var(--grey);
            margin-left: 12px;
            border-radius: 50%;
          }
        }
      }

      h2 {
        font-weight: 700;
        font-size: 20px;
        color: var(--body);
      }

      p {
        font-weight: 700;
        color: var(--violet);
        font-size: 14px;
      }
    }

    &-main {
      display: flex;
      flex-direction: column;
      gap: 40px;

      button {
        background: var(--violet);
        color: var(--white);
        font-size: 16px;
        font-weight: 700;
        display: block;
        width: 100%;
        padding: 16px 0;
        border-radius: 5px;
      }

      p,
      li {
        line-height: 1.62;
        color: var(--dark-grey);
      }

      h3 {
        color: var(--body);
        font-size: 20px;
        margin-bottom: 28px;
      }
    }
  }
}
